@font-face {
    font-family: 'amethystregular';
    src: url('amethyst/amethyst-webfont.woff2') format('woff2'),
         url('amethyst/amethyst-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
navbar-brand {
    font-family: 'amethystregular';
}
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem auto;
    z-index: 1;
}
.nav-link {
    text-decoration: none;
    font-size: 1.2em;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
#parallax {
    top: 0;
    width: 100vw;
    min-height: 40rem;
    z-index: -1;
    background-image: url("images/pexels-photo-1309766.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrect {
    background-color: #fff;
    width: 100%;
    min-height: 20em;
    z-index: 1;
}
#me {
    margin-right: 0em;
    margin-left: 11em;
    width: 15em;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.intro {
    float: right;
    margin-right: 6em;
    font-size: 3em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p {
    margin: 1.5em 3.5em;
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: justify;
    letter-spacing: 0em;
}
.shape {
    position: absolute;
    margin-bottom: 10rem;
    width: 100%;
    min-height: 5rem;
    max-height: 10rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
}
h2 {
    margin-top: 0.7rem;
    text-align: center;
    color: #919aa1;
    font-size: 3em;
}
h3 {
    text-align: center;
    margin: 3rem auto;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    font-size: 1.8em;
    color: #919aa1;
}
li {
    list-style-type: none;
}
#portfolio {
    margin-top: 15rem;  
    padding-bottom: 10rem; 
    min-height: 100%;
}
.projects-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}
.container-fluid {
  position: relative;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  margin: 1rem 0rem;   
}
.project {
    height: 20rem;
    width: inherit;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.705);
  }
  .container-fluid:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
@media (max-width:920px) {
    min-height: auto;
    ul {
        flex-direction: column;
            font-size: 2em;
            margin: 0% 50%;
            list-style-type: circle;
        }
    }